*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$random:random(1)/4;
$random3:random(40) + px;

@import url('https://fonts.googleapis.com/css?family=Work+Sans:800&display=swap');

$work:  'Work Sans', sans-serif;;
$black:rgb(15,15,15);
$white:rgb(250,250,250);
$green:rgb(100,250,200);

.container{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: $black;
    display: flex;
    flex-flow: column nowrap;
    padding:25px 3% 0 0;
    .word{
        font: {
            family:$work;
            size: 4.3vw;
            weight:  bold;
        }
        color: $white;
        height: fit-content;
        width: fit-content;
        padding:1% 0 0 5%;
        opacity:0;
        transform: translate(0px, 0px), scale(0);
        animation: show 2s forwards ease-in-out;
        transition: 1s;
        border-bottom: 1px solid $green;
        &:nth-child(odd){
            margin-left: 1%;
            padding-left: 1%;
        }
        &:first-child::before{
            content: '" ';
            color:$green;
        }
        &:nth-child(5)::after{
            content: ' "';
            color:$green;

        }
        &:hover{
            font: {
                size:4.7vw;
            }
            color: $green;
        }
    }
    .word.hide{
        opacity:1;
        transition: 1s;
        transform: translate(30px, 0px);
        animation: show 2s reverse ease-in-out;
    }
    .total{
        visibility: hidden;
    }
    .final{
        font: {
            family:$work;
            size: 5vw;
            weight:  bold;
        }
        color: $white;
        height: fit-content;
        padding:2% 0 0 5%;
        visibility: hidden;
        transform: translate(50px, 0);
    }

    @keyframes show {
        from{opacity:0;transform: translate(0px, 0px), scale(0);}
        to{  opacity:1;transform: translate(30px, 0px), scale(1);}
    }
    
    .button-container{
        width: 100vw;
        height: 15vh;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @at-root .generate{
            cursor: pointer;
            padding: 1% 3%;
            border-radius: 15px;
            border: none;
            background: $green;
            transform: translate(-50%, -20%), rotate(13deg);
            animation: button 2s forwards alternate ease-in-out 2s;
            font: {
                family:$work;
                size:1.2em;
            }
            opacity:0;
            color: lighten($black, 10%);
            &:hover{
                transition: 1.4s;
                box-shadow: 6px 8px 6px rgba(150,150,150,.3), 0 8px 8px $green;
            }
        }
        @keyframes button {
            0%{bottom:30%;transform: rotate(12deg);opacity:0;}
            50%{bottom:60%;transform: rotate(6deg);opacity:0.6;}
            100%{bottom:40%;transform: rotate(0deg);opacity:1;}
        }

    }
}

@media screen and (max-width: 992px ){
    .container .word{
        font-size: 8vw;
    }
}
@media screen and (max-width: 390px ){
    .container{
        padding:10% 5%;
        .word{
            line-height: 150%;
        }
    }
}

@media only screen and (orientation: landscape) and (max-width:390px){
    .container {
        align-items: center;
        .word{
            font-size: 5vw;
        }
    }
    .button-container{
        position: static;
        .generate{
            position: absolute;
            left:calc(50% - 63.5px);
        }
    }
  }


